Jwt__Key=your_jwt_key_here
ASPNETCORE_ENVIRONMENT=Development

# Note if you are planning to change these, you need to update the connection string in API local settings for efcore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payroll

ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=payroll;Username=postgres;Password=postgres